<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!-- Image resizer -->
  <configSections>
    <section name="resizer" type="ImageResizer.ResizerSection,ImageResizer" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WebUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="VictoireSystemConnectionString" connectionString="Data Source=DESKTOP-FJPH4GS;Initial Catalog=VictoireSystem;Persist Security Info=True;User ID=sa;Password=sapassword" providerName="System.Data.SqlClient" />
    <!--<add name="CONN_STR_TOWING" connectionString="Data Source=VICTOIREWEB\SQLEXPRESS;Initial Catalog=WPFProjectDB;Persist Security Info=True;User ID=sa;Password=sapassword" providerName="System.Data.SqlClient"/>-->
    <!--<add name="VictoireSystemConnectionString" connectionString="Data Source=VICTOIREWEB\SQLEXPRESS;Initial Catalog=VictoireSystem;Persist Security Info=True;User ID=sa;Password=4rfVgy75" providerName="System.Data.SqlClient"/>
    <add name="CONN_STR_TOWING" connectionString="Data Source=VICTOIREWEB\SQLEXPRESS;Initial Catalog=WPFProjectDB;Persist Security Info=True;User ID=sa;Password=4rfVgy751983" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <resizer>
    <!-- Unless you (a) use Integrated mode, or (b) map all reqeusts to ASP.NET, 
         you'll need to add .ashx to your image URLs: image.jpg.ashx?width=200&height=20 -->
    <pipeline fakeExtensions=".ashx" />
    <plugins>
      <!-- <add name="DiskCache"/> -->
      <!-- <add name="PrettyGifs"D:\Victoire Work\VictoireSystem\WebUI\Web.config/> -->
    </plugins>
  </resizer>
  <!-- /Image resizer -->
  <appSettings>
    <add key="CONN_STR" value="Data Source=DESKTOP-FJPH4GS;Initial Catalog=VictoireSystem;User ID=sa;Password=sapassword" />
    <add key="CONN_STRLife" value="Data Source=DESKTOP-FJPH4GS;Initial Catalog=LifeDB;User ID=sa;Password=sapassword" />
    <!--<add key="CONN_STR" value="Data Source=VICTOIREWEB\SQLEXPRESS;Initial Catalog=VictoireSystem;User ID=sa;Password=4rfVgy75"/>-->
    <!--<add key="CONN_STR" value="Data Source=VIC-EXCHANGE;Initial Catalog=VictoireSystem;User ID=sa;Password=4rfVgy75"/>-->
    <add key="BLC_MESSAGES" value="E:\Victoire Work\VictoireSystem\Messages.xml" />
    <!--<add key="BLC_MESSAGES" value="C:\inetpub\wwwroot\VictoireSystemPublish\Messages.xml"/>-->
    <add key="ENABLE_TICKET" value="1" />
    <add key="VersionNo" value="7302015" />
    <add key="UPLOADED_FILES_MAIN_FOLDER" value="E:\WORK\Sites\IR\IR\images" />
    <add key="ExportedPath" value="E:\\Victoire Work\\VictoireSystem\\WebUI\\ExportedFiles\\" />
    <!--<add key="ExportedPath" value="C:\\inetpub\\wwwroot\\VictoireSystemPublish\\ExportedFiles\\"/>-->
    <add key="EmailPass" value="Noreply#2014" />
    <add key="ToEmail" value="maroun.sawma@victoire.com.lb" />
    <add key="ToPAEmail" value="maroun.sawma@victoire.com.lb" />
    <add key="FromEmail" value="no-reply@victoire.com.lb" />
    <add key="FromAjialEmail" value="no-reply@ajial.org.lb" />
    <add key="CCEmail"  value="maroun.sawma@victoire.com.lb" />
    <add key="BCCEmail"  value="maroun.sawma@victoire.com.lb" />
    <add key="CCLCMPEmail"  value="maroun.sawma@victoire.com.lb" />
    <add key="FromLCMPEmail"  value="no-reply@victoire.com.lb" />
    <add key="CCTravelEmail"  value="maroun.sawma@victoire.com.lb" />
    <add key="ToInfoAjialEmail" value="info@ajial.org.lb" />
    <add key="CCMobileReceiptEmail"  value="khalil.halawi@victoire.com.lb;encaissements1@victoire.com.lb;comptabilite@victoire.com.lb;eliane.feghali@victoire.com.lb" />
    
    <add key="BCCMobileReceiptEmail"  value="comptabilite@victoire.com.lb" />

    <add key="ToMCAutoEmail"  value="maroun.sawma@victoire.com.lb" />
    <add key="ToNPAutoEmail"  value="maroun.sawma@victoire.com.lb" />
    <add key="ToCCAutoEmail"  value="" />
    <add key="SixpaymentsPercMed" value="0.06"/>
    <add key="FourPaymentsPercMed" value="0.03"/>
    <add key="ThreePaymentsPercMed" value="0.02"/>
    <add key="BodySubject" value="Victoire Children Educational Plan."/>
    <add key="FromEmailLife" value="life.online@victoire.com.lb"/>
    <add key="CCEmailLife"  value="maroun.sawma@victoire.com.lb" />
    
  </appSettings>
  <system.web>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"
        validate="false" />
    </httpHandlers>
    <pages enableEventValidation="false">
      <controls>
         <add tagPrefix="asp" namespace="System.Web.UI.HtmlControls" assembly="System.Web"/>
      </controls>
    </pages>
    
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </buildProviders>
    </compilation>
    <httpRuntime targetFramework="4.5" maxRequestLength="2147483" executionTimeout="1600" requestLengthDiskThreshold="2147483647" />
    <customErrors mode="Off" redirectMode="ResponseRedirect">
      <error statusCode="404" redirect="/UI/" />
    </customErrors>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms">
      <forms loginUrl="/" defaultUrl="/UI/" name=".ASPNETAUTH" protection="None" path="/" timeout="25" />
    </authentication>
    <!-- Image resizer -->
    <httpModules>
      <!-- This is for IIS5, IIS6, and IIS7 Classic, and Cassini/VS Web Server-->
      <!--<add name="ImageResizingModule" type="ImageResizer.InterceptModule"/>-->
    </httpModules>
    <!-- /Image resizer -->
    <sessionState timeout="30" />
  </system.web>
  <system.serviceModel>
    <client/>
    <standardEndpoints>
      <webScriptEndpoint>
        <standardEndpoint crossDomainScriptAccessEnabled="true" />
      </webScriptEndpoint>
    </standardEndpoints>
    <behaviors>
      <endpointBehaviors>
        <behavior name="My_Behavior">
          <webHttp defaultOutgoingResponseFormat="Json" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="LargeBuffer" closeTimeout="00:59:00" openTimeout="00:59:00"
          receiveTimeout="00:59:00" sendTimeout="10:59:00" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="AppWCF.customBinding0">
          <binaryMessageEncoding/>
          <httpTransport maxReceivedMessageSize="2147483647" />
        </binding>
      </customBinding>
      <webHttpBinding>
        <binding name="jsonpWebHttpBinding" closeTimeout="00:59:00" openTimeout="00:59:00"
          receiveTimeout="00:59:00" sendTimeout="00:59:00" maxReceivedMessageSize="2147483647"
          useDefaultWebProxy="false" crossDomainScriptAccessEnabled="false">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </webHttpBinding>
    </bindings>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <services>
      <service name="AppWCF">
        <endpoint name="rest" address="" binding="webHttpBinding" bindingConfiguration="jsonpWebHttpBinding" contract="AppWCF" behaviorConfiguration="My_Behavior"/>
        <endpoint name="basic" address="soap" binding="basicHttpBinding" bindingConfiguration="LargeBuffer" contract="AppWCF" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
  </system.serviceModel>
  <!-- Image resizer -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <!-- This is for IIS7+ Integrated mode -->
      <!--<add name="ImageResizingModule" type="ImageResizer.InterceptModule"/>-->
    </modules>
    <security>
      <requestFiltering>
        <requestLimits maxUrl="2147483647" maxQueryString="2147483647" maxAllowedContentLength="2147483647" />
      </requestFiltering>
    </security>
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
  </system.webServer>
  <!-- /Image resizer -->
  <!-- Securing Admin Folder -->
  <location path="UI">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <applicationSettings>
    <WebUI.Properties.Settings>
      <setting name="WebUI_SMSClient_ElbaridService" serializeAs="String">
        <value>https://www.e-barid.com/Soap/service/elbaridUsers</value>
      </setting>
    </WebUI.Properties.Settings>
  </applicationSettings>
</configuration>